/*============================================================
=========================================================*/
/*=======================================================
TABLE OF CONTENTS:

0.1  Theme Reset Style
0.2  header-style
0.3  hero slider
0.4  hero style 1
0.5  section-area
0.6  about-area
0.7  service-area
0.8  track-area
0.9  features-area
1.0  counter-area
1.1  pricing-area
1.2  testimonial-area
1.3  team-area
1.4  blog-area
1.5  newsletter-area
1.6  footer-area

======================
2.0 Home-page-2
======================

======================
 3.0 Home style-3
======================

======================
4.0 about-page
======================

======================
5.0 blog-page-area
======================

======================
6.0 blog-detais-area
======================

======================
7.0 contact-page-area
======================

======================
 8.0 service-page
======================

======================
9.0  Freight-area
======================
----------------------------------------------------------------*/
/*---------------------------
  Fonts
----------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto:300,400,500,700");
/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #333;
  line-height: 20px;
}

@media (max-width: 767px) {
  body {
    font-size: 15px;
  }
}

p {
  color: #333;
  line-height: 25px;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
a:focus {
  outline: none;
}

.section-padding {
  padding: 100px 0;
}

@media (max-width: 991px) {
  .section-padding {
    padding: 90px 0;
  }
}

@media (max-width: 767px) {
  .section-padding {
    padding: 80px 0;
  }
}

/*** back to top **/
.back-to-top {
  background-color: #c2c03c;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: none;
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: 15px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

@media (max-width: 991px) {
  .back-to-top {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

.back-to-top:hover {
  background-color: #31b5e1;
}

.back-to-top i {
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*===================================
0.2  header-style
====================================*/

.header-top {
  background: #333333;
}

.header-top ul.header-contact {
  text-align: right;
}

.header-top li {
  display: inline-block;
  padding: 15px;
  color: #fff;
}

.header-top li i {
  padding-right: 10px;
  color: #fff;
}

.header-top ul.login-r {
  text-align: right;
}

.header-top ul.login-r li {
  position: relative;
}

.header-top ul.login-r li a {
  color: #31b5e1;
}

.header-top ul.login-r li + li:before {
  position: absolute;
  content: "or";
  left: -8px;
  top: 14px;
}

.header-top ul.header-social {
  position: relative;
  justify-content: flex-end;
}

.header-top ul.header-social:before {
  content: "";
  position: absolute;
  right: -35px;
  top: 30%;
  width: 1px;
  height: 25px;
  background: #016a8d;
  opacity: 0.5;
}

.header-top ul.header-social li:last-child {
  padding-right: 0px;
}

.header-top ul.header-social li:last-child i {
  padding-right: 0px;
}

.header-area {
  width: 100%;
  position: absolute;
  z-index: 99;
  background-color: rgba(73, 43, 43, 0.00000009);
}

.account_login-area li:first-child {
  padding-left: 0;
}

.account_login-area li i {
  color: #31b5e1;
}

.account_login-area .account-item {
  position: relative;
  color: #333;
  padding: 10px 37px;
}

.account_login-area .account-item i {
  position: absolute;
  left: -3%;
  top: 15%;
  font-size: 40px;
}

.account_login-area .account-item-2 {
  padding-left: 35px;
}

.account_login-area .account-item-2 i {
  left: -8%;
  top: 17%;
}

.account_login-area .account-item:last-child {
  padding-right: 0;
}

.account_login-area .account-item h5 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  font-weight: 400;
  color: #666;
}

.account_login-area .account-item h5 span {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #777;
}

.account_login-area .account-item:first-child {
  padding-left: 40px;
  padding-right: 44px;
}

.account_login-area .account-item img {
  max-width: 40px;
  position: absolute;
  left: -21px;
  top: 13px;
}

.header-top.header-top-2 {
  background: #fff;
  padding: 18px 0;
}

.header-top.header-top-2 span {
  display: block;
  color: #777;
  font-size: 18px;
}

.header-social li a {
  color: #fff;
}

.logo {
  font-size: 30px;
  color: yellow;
  margin-top: 27px;
}
.logo_1 {
  font-size: 30px;
  color: rgb(5, 5, 5);
  margin-top: 27px;
}

.main-menu .submenu li a {
  padding: 10px 15px 10px 0px;
  color: #fff;
  font-size: 14px;
}
span .submenu li a {
  padding: 10px 15px 10px 0px;
  color: #000;
  font-size: 14px;
}
.main-menu nav ul {
  text-align: right;
}

.main-menu nav ul li {
  display: inline-block;
  position: relative;
}

.main-menu nav ul li a:last-child {
  padding-right: 0;
}

.main-menu nav ul li {
  padding: 35px 18px 0;
}

.main-menu nav ul li a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 33px;
}
span .main-menu nav ul li a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  letter-spacing: 0;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 33px;
}

.main-menu nav ul li a:before {
  position: absolute;
  content: "";
  left: -20px;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  transition: all 0.5s;
}
span .main-menu nav ul li a:before {
  position: absolute;
  content: "";
  left: -20px;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000;
  opacity: 0;
  transition: all 0.5s;
}

.main-menu nav ul li a:hover:before {
  opacity: 1;
  left: 0px;
}

.main-menu nav ul li > ul li a {
  color: #333;
}

.main-menu nav ul li:hover > a,
.main-menu nav ul li.active > a {
  color: #c2c03c;
}

.main-menu .submenu {
  position: absolute;
  left: 18px;
  top: 90px;
  z-index: 999;
  width: 235px;
  padding: 10px 0px 15px;
  background: #fff;
  text-align: left;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: top;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
span .main-menu .submenu {
  position: absolute;
  left: 18px;
  top: 90px;
  z-index: 999;
  width: 235px;
  padding: 10px 0px 15px;
  background: #000;
  text-align: left;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: top;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-menu nav > ul > li:hover > .submenu {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}

.main-menu .submenu li {
  display: block;
}

.main-menu .submenu li a:before {
  display: none;
}

.main-menu .submenu li {
  padding: 2px 15px;
}

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
    /* background: #fff; */

  background: linear-gradient(#4e4f47, rgba(0, 0, 0, 0.1));
  z-index: 1200;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
}

.sticky ul {
  color: black;
}

/*====================
mobile menu
=======================*/
.slicknav_menu {
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 0;
  z-index: 99;
}

.slicknav_menu nav {
  margin-top: 22px;
}

.header-sub .slicknav_menu nav {
  margin-top: 10px;
}

.header-area .slicknav_menu ul {
  margin: 0;
}

.slicknav_nav {
  background: #2a2d2d;
}

.slicknav_nav .slicknav_row:hover {
  border-radius: 0;
  background: #3a3a3a;
}

.slicknav_nav .slicknav_arrow {
  float: right;
}

.slicknav_menu .slicknav_menutxt {
  display: none;
}

.slicknav_btn {
  background-color: transparent;
  position: relative;
  margin-top: -45px;
}

.slicknav_menu .slicknav_icon-bar {
  height: 1px;
  width: 27px;
  margin: 6px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.slicknav_nav a:hover {
  background: #3a3a3a;
  color: #fff;
}

.header-transparent .slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
  box-shadow: none;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
  opacity: 0;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(2px, 10px);
  transform: rotate(45deg) translate(2px, 10px);
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-9px);
  transform: rotate(-45deg) translateY(-9px);
}

.btn-style2 {
  text-align: right;
}

.btn-style a {
  background-color: #c2c03c;
  /* #c2c03c*/
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 10px 28px;
  border: 2px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 3px;
}

.btn-style a:hover {
  background: #31b5e1;
}

.search {
  text-align: right;
  margin-top: 35px;
}

.search ul li a {
  text-align: right;
  padding: 10px;
  color: #fff;
}

.search ul li > ul {
  position: absolute;
  right: 0;
  top: 150%;
  width: 263px;
  background: #fff;
  z-index: 999;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
}

.search ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.search ul li > ul form {
  position: relative;
}

.search ul li > ul input {
  background: #fff;
  width: 100%;
  height: 40px;
  padding: 0 40px 0 10px;
}

.search ul li > ul input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.search ul li > ul button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: #c2c03c;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search ul li > ul button:hover {
  background: #31b5e1;
}

.search ul li:last-child a {
  padding-right: 0;
}

/*--------------------------------------------------------------
0.3  hero slider
--------------------------------------------------------------*/
.hero {
  position: relative;
  height: 840px;
  overflow: hidden;
}

.slide {
  position: relative;
}

.slide:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #333;
  opacity: 0.6;
}

.slide-caption {
  z-index: 19;
  padding-bottom: 45px;
}

.hero .slide {
  height: 840px;
  position: relative;
  background-repeat: no-repeat;
  position: relative;
}

.hero .slide .slider-bg {
  display: none;
}

.hero .slide:focus {
  outline: none;
}

.hero .slide .container {
  height: 100%;
  display: table;
  padding: 0;
}

.hero .slide .row {
  display: table-cell;
  vertical-align: middle;
}

.hero .slick-prev,
.hero .slick-next {
  width: 60px;
  height: 60px;
  border: 1px solid #959595;
  border-radius: 5px;
  z-index: 10;
  border-radius: 60px;
  transition: all 0.3s;
}

.hero .slick-prev {
  left: 25px;
}

.hero .slick-prev:before {
  font-family: "FontAwesome";
  content: "\f104";
  opacity: 1;
  color: #fff;
}

.hero .slick-next {
  right: 25px;
}

.hero .slick-next:before {
  font-family: "FontAwesome";
  content: "\f105";
  opacity: 1;
  color: #fff;
}

.hero .slick-prev:hover,
.hero .slick-next:hover {
  background: #c2c03c;
  border: none;
}

.hero .slick-prev:hover:before,
.hero .slick-next:hover:before {
  color: #fff;
}

.hero .slick-dots {
  bottom: 30px;
}

.hero .slick-dots li {
  margin: 0;
}

.hero .slick-dots button {
  display: none;
}

.hero .hero-slider .slide-caption > h2,
.hero .hero-slider .slide-caption > p,
.hero .hero-slider .slide-caption > .btns {
  opacity: 0;
}

.hero .hero-slider .slick-list .slick-current .slide-caption > p {
  -webkit-animation: fadeInTopSlow 1.5s 0.8s forwards;
  -moz-animation: fadeInTopSlow 1.5s 0.8s forwards;
  -o-animation: fadeInTopSlow 1.5s 0.8s forwards;
  -ms-animation: fadeInTopSlow 1.5s 0.8s forwards;
  animation: fadeInTopSlow 1.5s 0.8s forwards;
}

.hero .hero-slider .slick-list .slick-current .slide-caption > h2 {
  -webkit-animation: fadeInLeftSlow 1.5s 0.8s forwards;
  -moz-animation: fadeInLeftSlow 1.5s 0.8s forwards;
  -o-animation: fadeInLeftSlow 1.5s 0.8s forwards;
  -ms-animation: fadeInLeftSlow 1.5s 0.8s forwards;
  animation: fadeInLeftSlow 1.5s 0.8s forwards;
}

.hero .hero-slider .slick-list .slick-current .slide-caption > .btns {
  -webkit-animation: fadeInBottomSlow 1.5s 0.8s forwards;
  -moz-animation: fadeInBottomSlow 1.5s 0.8s forwards;
  -o-animation: fadeInBottomSlow 1.5s 0.8s forwards;
  -ms-animation: fadeInBottomSlow 1.5s 0.8s forwards;
  animation: fadeInBottomSlow 1.5s 0.8s forwards;
}

/******************************
  0.4 hero style 1
*******************************/
.hero-style-1 .slide-caption p,
.hero-style-2 .slide-caption p {
  font-size: 20px;
  color: #fff;
  line-height: 0.8em;
  font-weight: 300;
  margin: 0;
}

.hero-style-1 .slide-caption p span,
.hero-style-2 .slide-caption p span {
  color: #c1b696;
}

.hero-style-1 .slide-caption h2,
.hero-style-2 .slide-caption h2 {
  font-size: 50px;
  font-weight: 600;
  color: white;
  line-height: 75px;
  margin: 33px 0;
}

@media (max-width: 450px) {
  .hero-style-1 .slide-caption h2,
  .hero-style-2 .slide-caption h2 {
    font-size: 30px;
  }
}

.hero-style-1 .slide-caption h2 span,
.hero-style-2 .slide-caption h2 span {
  display: block;
}

@media (max-width: 450px) {
  .hero-style-1 .slide-caption h2 span,
  .hero-style-2 .slide-caption h2 span {
    padding: 4px 0;
  }
}

/*==============================================
0.5 section-area-start
================================================*/
.section-area {
  background: #f5f5f5;
}

.section-icon {
  text-align: center;
  margin-top: -60px;
}

.section-content {
  text-align: center;
  padding: 30px 0 10px;
  transition: all 0.5s;
}

.section-item:hover .section-content {
  background: #c2c03c;
  color: #fff;
}

.section-item:hover .section-content p a {
  color: #fff;
}

.section-item:hover .section-icon i.fi {
  background: #c2c03c;
  color: #fff;
}

.section-content p {
  font-size: 24px;
  font-weight: 400;
  transition: all 0.5s;
}

.section-content p a {
  color: #333;
  transition: all 0.5s;
}

.section-icon i.fi {
  background: #f5f5f5;
  padding: 47px 30px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.5s;
}

.col-d {
  padding: 0;
}

/*===================================
0.6 about-area start
=====================================*/
.about-area {
  padding-top: 100px;
  padding-bottom: 130px;
}

.about-content .about-icon i {
  color: #c2c03c;
}

.about-icon img {
  width: 100px;
  height: 100px;
}

.about-content h2 {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.about-content h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 5px;
  background: #e5001d;
}

.about-content p {
  margin-bottom: 30px;
}

.about-content span {
  display: block;
  padding-left: 30px;
  padding-bottom: 20px;
  position: relative;
}

.about-content span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  background: #c2c03c;
}

.about-content .about-icon i:before {
  font-size: 60px;
}

.signature-section {
  overflow: hidden;
}

.si-text {
  float: left;
  margin-top: 20px;
}

.si-text p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.signature-section img {
  float: right;
}

/*=====================================
0.7 service-area start
=======================================*/
.service-area {
  padding: 100px 0 70px;
  background: #f5f5f5;
}

.section-title span,
.section-title1 span {
  font-size: 16px;
  color: #c2c03c;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  padding-bottom: 20px;
  margin-bottom: 60px;
  position: relative;
}

.section-title1 h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  padding-bottom: 20px;
  margin-bottom: 30px;

  position: relative;
}

.section-title h2:before,
.section-title1 h2:before {
  content: "";
  position: absolute;
  left: 47%;
  bottom: 0;
  width: 60px;
  height: 3px;
  background: #e5001d;
}

.service-single {
  overflow: hidden;
}

.service-single {
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  margin-bottom: 30px;
}

.service-content {
  padding: 29px 40px 20px;
  position: absolute;
  left: 0;
  top: 68%;
  width: 100%;
  height: 100%;
  padding-left: 100px;
  background: #142440;
  transition: all 0.3s;
  opacity: 0.8;
}

.service-single:hover .service-content {
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.service-single:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 36, 64, 0.2);
}

.service-content h3 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  position: relative;
  color: #fff;
}

.service-content h3:before {
  content: "\f106";
  position: absolute;
  left: -78px;
  top: -15px;
  font-family: Flaticon;
  font-size: 42px;
  color: #e5001d;
}

.service-content2 h3:before {
  content: "\f107";
  margin-top: 5px;
}

.service-content3 h3:before {
  content: "\f100";
  transform: rotate(45deg);
}

.service-content4 h3:before {
  content: "\f108";
}

.service-content5 h3:before {
  content: "\f10a";
}

.service-content6 h3:before {
  content: "\f10b";
}

.service-content p {
  padding: 15px 0 0px;
  color: #fff;
  line-height: 30px;
}

.service-content a {
  color: #c2c03c;
}

.service-area.service-s2 .service-item .service-single {
  background: #fff;
  text-align: center;
  padding: 40px 33px;
}

.service-area.service-s2 .service-item .service-single:before {
  content: none;
}

.service-area.service-s2 .service-item .service-single .service-icon {
  background-color: rgba(52, 203, 255, 0.2);
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  margin: auto;
  margin-bottom: 25px;
}

.service-area.service-s2 .service-item .service-single .service-icon:before {
  content: "";
  background-color: rgba(52, 203, 255, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  left: -5px;
  top: -5px;
  border-radius: 50%;
}

.service-area.service-s2 .service-item .service-single .service-icon i {
  color: #142440;
}

.service-area.service-s2 .service-item .service-single h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.service-area.service-s2 .service-item .service-single p {
  line-height: 30px;
  color: #5d5b5b;
}

/*==========================================
0.8 track-area start
===========================================*/

.track h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #fff;
}

.track-section .track form {
  position: relative;
}

.track-section .track button {
  background: #c2c03c;
  color: #fff;
  border: 0;
  outline: 0;
  position: absolute;
  left: 15px;
  top: 0;
  width: 200px;
  height: 50px;
  transition: all 0.3s;
}

.track-section .track button:hover {
  background: #31b5e1;
}

.track-section .track input {
  background: #fff;
  height: 50px;
  font-size: 17px;
  color: #333;
  padding: 6px 80px 6px 30px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  border-radius: 0px;
}

/*==========================================
1.0 counter-area start
===========================================*/
.counter-area {
  padding: 135px 0 0;
  background: url(../images/counter/2.jpg) no-repeat center top / cover;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
}

.counter-area:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(20, 36, 64, 0.8);
}

.counter-content {
  background: #c2c03c;
  padding: 44px 70px 94px;
  padding-right: 80px;
  margin-bottom: -70px;
  max-height: 450px;
  position: relative;
}

.counter-content p {
  font-size: 1.2em;
  color: #fff;
}

.counter-content h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px;
  line-height: 54px;
}

.btn-style.btn-style-3 a {
  background: #fff;
  color: #333;
  margin-top: 34px;
  font-weight: 700;
}

.counter-area .counter-grids .grid {
  width: 48%;
  float: left;
  padding: 0px 0px 158px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.counter-area .counter-grids .grid p {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  margin-top: 20px;
}

.counter-area .counter-grids {
  overflow: hidden;
  position: relative;
  padding-left: 50px;
}

@media (max-width: 991px) {
  .counter-area .counter-grids {
    padding: 100px 0 40px;
    text-align: center;
  }
}

.counter-area .odometer.odometer-auto-theme,
.counter-area .odometer.odometer-theme-default {
  line-height: 0.8em;
}

.counter-area .counter-grids .grid h2 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  line-height: 10px;
  padding-bottom: 10px;
  position: relative;
}

.counter-area .counter-grids .grid h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 3px;
  background: #e5001d;
}

/*====================================
1.1 pricing-area start
======================================*/

.pricing-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f6f8f9;
  position: relative;
  /*   background-color: #FAFAFA; */
}

.price-item {
  text-align: center;
  background: #f6f6f6;
  transition: all 0.3s;
}

.pricing-area .flex {
  display: flex;
}

.price-item:hover {
  background: #e7f9ff;
}

.pricing-header h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.pricing-header {
  /* padding: 25px 0 13px; */
  background: #c2c03c;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  z-index: 11;
}

.pricing-header:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 33px;
  width: 100%;
  height: 68%;
  background: url(../images/pricing/2.png) no-repeat center center / cover;
  z-index: -1;
}

.price-sub-header {
  padding: 20px 0 10px;
}

.price-sub-header h4 {
  font-size: 36px;
  color: #c2c03c;
}

.pricing-table {
  padding-bottom: 30px;
}

.pricing-table li {
  padding: 10px;
  border-top: 1px solid #eeeeee;
}

.col-l {
  padding: 10px;
}

.pricing-img {
  text-align: right;
  position: relative;
  margin-top: -28px;
}

.pricing-img:before {
  content: "";
  position: absolute;
  left: 64%;
  top: 96px;
  width: 65%;
  height: 84%;
  border: 10px solid #c2c03c;
  z-index: -1;
}

.btn-style.btn-style-4 {
  margin-top: 14px;
}

.btn-style-4 a {
  border-radius: 0px;
}

/*=======================================
1.2 testimonial-area start
=========================================*/
.testimonial-area {
  background: url(../images/testimonial/1.jpg) no-repeat center top / cover;
  padding: 100px 0;
  position: relative;
}

.testimonial-area:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(20, 36, 64, 0.7);
}

.testimonial-img {
  width: 20%;
  margin: auto;
  z-index: 99;
  position: relative;
  background: #fff;
  border-radius: 50%;
  bottom: -50px;
}

.testimonial-img img {
  border-radius: 50%;
  border: 5px solid #bbb;
}

.testimonial-item {
  text-align: center;
  background: #fff;
  padding: 70px 30px 60px;
  position: relative;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.test-c {
  background: #fff;
  z-index: 99;
  width: 520px;
  height: 50px;
  margin-right: 30px;
  position: relative;
  opacity: 0.5;
  top: -40px;
  left: 2%;
}

.test-b {
  background: #fff;
  z-index: -15;
  width: 489px;
  height: 50px;
  margin-right: 30px;
  position: relative;
  opacity: 0.3;
  top: -82px;
  left: 5%;
}

.testimonial-item p {
  padding-top: 50px;
  position: relative;
  font-size: 18px;
}

.testimonial-item p:before {
  position: absolute;
  left: 47%;
  top: 0;
  content: "\f10d";
  font-family: "FontAwesome";
  color: #999;
  font-size: 30px;
}

.testimonial-item h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #c2c03c;
  padding-top: 10px;
}

.testimonial-item span {
  font-size: 14px;
  color: #666;
}

.testimonial-active .owl-nav div.owl-next {
  right: -70px;
  left: auto;
}

.testimonial-active .owl-nav div {
  position: absolute;
  left: -70px;
  top: 50%;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

/*==========================================
1.3 team-area start
============================================*/
.team-area {
  padding: 100px 0 5px;
  background: #fff;
}

.team-img {
  position: relative;
  overflow: hidden;
}

.team-img:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #c2c03c;
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.team-single {
  margin-bottom: 30px;
}

.team-single:hover .team-img:before {
  opacity: 0.5;
}

.team-img img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.team-single:hover .team-img img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

.social-1st {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
}

.team-single:hover .thumb-content span {
  opacity: 1;
}

.team-single:hover .social-1st {
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.team-single:hover .social-1st li:nth-child(2) a {
  margin-top: 50px;
}

.team-single:hover .social-1st li:nth-child(3) a {
  margin-top: 100px;
}

.social-1st ul {
  text-align: center;
  justify-content: center;
  display: flex;
}

.social-1st li a {
  display: block;
  height: 45px;
  width: 45px;
  background: #fff;
  color: #333;
  line-height: 45px;
  border-radius: 50%;
}

.social-1st li a:hover {
  background: #c2c03c;
  color: #fff;
}

.social-1st li:nth-child(2) a {
  margin-top: 0px;
  transition: all 0.3s;
}

.social-1st li:nth-child(3) a {
  margin-top: 0px;
  transition: all 0.3s;
}

.team-img {
  position: relative;
}

.team-wrap {
  margin-bottom: 30px;
}

.team-content {
  text-align: center;
  padding: 30px 0;
  background: #f5f5f5;
}

.team-content h4 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.team-content h4:hover {
  color: #c2c03c;
}

.team-content span {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

/*================================
1.4 blog-area start
==================================*/
.blog-area {
  background: #f1f1f1;
  padding: 100px 0 60px;
  position: relative;
}

.blog-area:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.section-title.section-title-3 h2 {
  color: #333;
}

.section-title.section-title-3 span {
  position: relative;
}

.blog-p {
  padding: 0;
}

.blog-content {
  text-align: center;
  background: #fff;
  padding: 25px 45px 10px;
}

.blog-content p {
  line-height: 30px;
}

.blog-content h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.blog-content h3 a {
  color: #333;
  transition: all 0.3s;
}

.blog-content h3 a:hover {
  color: #c2c03c;
}

.blog-content-sub {
  background: #fff;
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.blog-content-sub ul li {
  display: inline-block;
  position: relative;
  padding: 10px;
}

.blog-content-sub ul li a {
  color: #c2c03c;
}

.blog-content-sub ul li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 17px;
  z-index: 1;
  width: 1px;
  height: 13px;
  background: #cbbfbf;
}

.blog-content-sub ul li:first-child:before {
  display: none;
}

.blog-content-2.blog-content-sub {
  border-bottom: none;
  border-top: 1px solid #eee;
}

.blog-content-sub-2 {
  border-top: 1px solid #eee;
}

.blog-item {
  margin-bottom: 30px;
}

.blog-img img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}

.blog-item:hover .blog-img img {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
}

/*==========================================
1.5 features-area start
===========================================*/
.features-area {
  padding: 80px 0 150px 0;
  background-color: #f6f8f9;
}
/*=======================================
1.6 footer-area start
=========================================*/

.first_row {
  display: flex;
  justify-content: space-around;
}
.first_row:last-child {
  margin-top: 5em;
}
.footer {
  background-color: #f6f8f9;

  padding-top: 4em;
  padding-bottom: 2em;
}
.foot {
  color: #000;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact {
  margin-top: 10px;
  font-weight: 700;
  color: #000;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 2em;
}

.foot_text_blog {
  height: 30px;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 34px;
  background-image: url("../images/5c22beb835af3a2f8fd7b7ea_smartphone.svg");
  background-position: 0px 0px;
  background-size: 30px;
  background-repeat: no-repeat;
  font-weight: 700;
  color: #000;
}
.foot_icon_2 {
  background-image: url("../images/5c22bffa1110ec1648fd2d1b_envelope.svg");
  background-position: 0px 50%;
  background-size: 25px;
}
.foot_icon_3 {
  background-image: url("../images/5c22c0214fdbba1813bc2151_placeholder.svg");
  background-position: 0px 50%;
  background-size: 25px;
}
.foot_icon_4 {
  background-image: url("../images/5c22c1044fdbbad5c6bc21e8_clock22.svg");
  background-position: 0px 50%;
  background-size: 25px;
}

.text_2 {
  color: #000;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 300;
}
.fab {
  color: #000;
}
.footer_icons .fa {
  margin: 0.7em 0 0 0.3em;
  font-size: 1.6em;
}
.footer_icons .fab {
  margin: 0.5em 0 0 0.3em;
  font-size: 1.6em;
}
.footer_iconsf .fab {
  margin-top: 0.1em;
  font-size: 1.6em;
}

.foot_last {
  margin-top: 3em;
}
.foot_copy {
  text-align: center;
  padding: 2em;
  color: #fff;
  background-color: #2c2c2c;
  /* margin-top: 2em; */
}
.social li a {
  display: block;
  height: 45px;
  width: 45px;
  background: #fff;
  color: #333;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  transition: all 0.3s;
  margin-top: 5px;
}

.social li a:hover {
  background: #c2c03c;
  color: #fff;
}

.instagram ul li {
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 5px;
  padding: 0px 3px;
}

/*============================
0.1 News area
=================================*/

.blog-area.blog-style-2 {
  padding-bottom: 100px;
  background: #fff;
}

.blog-area.blog-style-2 .blog-img {
  position: relative;
}

.blog-area.blog-style-2 .blog-img:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  z-index: 9;
}

.blog-s-text {
  position: absolute;
  left: 0;
  top: 56%;
  width: 100%;
  height: 50%;
  background: none;
  z-index: 99;
}

.blog-s-text .blog-content {
  background: none;
}

.blog-s-text .blog-content h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

.blog-s-text .blog-content-sub ul li a {
  color: #fff;
}

.blog-s-text .blog-content-sub ul li {
  color: #fff;
}

.blog-s-text .blog-content-sub {
  background: none;
  border-bottom: none;
  border-top: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 17px;
}

.blog-item {
  position: relative;
  overflow: hidden;
}

.blog-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(200px);
  transition: all 0.3s;
  opacity: 0;
}

.blog-item:hover .blog-text {
  transform: translateY(0px);
  opacity: 1;
}

.blog-area.blog-style-2 .blog-content {
  background: none;
}

.blog-item:hover .blog-s-text .blog-content {
  opacity: 0;
}

.blog-text .blog-content h3 a {
  color: #333;
}

.blog-text .blog-content h3 a:hover {
  color: #c2c03c;
}

.blog-text .blog-content a {
  color: #c2c03c;
}

.blog-text .blog-content-sub ul li a {
  color: #c2c03c;
}

.blog-text .blog-content-sub {
  background: none;
  border-bottom: none;
  padding-top: 16px;
  border-top: 1px solid #ddd;
  margin-top: 5px;
}

.blog-text .blog-content {
  padding: 40px 45px 10px;
}

.blog-item:hover .blog-s-text .blog-content-sub {
  opacity: 0;
}

.newsletter-section.newsletter-section-2 {
  background: #f5f5f5;
}

.blog-right-bar-2 {
  padding-left: 0;
  padding-right: 30px;
}

.blog-right-bar .img-holder {
  float: left;
  padding-right: 14px;
}

.blog-content h3 {
  font-weight: 400;
}

/*============================
0.3 Home-page-3 start
=================================*/

/*.====================================
6.0 blog-detais-area start
========================================*/

/*===================================================
7.0 contact-page-area-start
=======================================================*/

/*==========================
page loader
============================*/
.page-loader {
  background-color: #272727;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
}

.page-loader .page-loader-inner {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  border: 4px solid #c2c03c;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.page-loader .page-loader-inner .inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #c2c03c;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.card {
  overflow: hidden;
  position: relative;
  /*
  Each "card" is set to 600x400px because that is the size of  the image, adjust as needed. Make sure the overflow is set to hidden or else when the img scales it will clip with the other images.
  */
  border: 1px solid rgba(0, 0, 0, 0.0000000009);
}

.img-container {
  transition: transform 0.1s ease;
}
.img-container img {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0 15);
}
.img-container:hover {
  transform: scale(1.1);
  /*
  Change the scale value as much as you want to change the amount of zoom on hover.
  */
}

.card img {
  opacity: 0.5;
  transform: translate(0, 0);
  /*
  Change the opacity value to change how "faded" you want the image to appear when it is not hovered.
  */
  transition: opacity 0.25s ease-in-out;
}

.card img:hover {
  opacity: 1;
}

.abc {
  margin-top: 2%;
}

.gold {
  width: 80px;
  height: 80px;
}

.logo p {
  padding-top: 9px;
  /*   border: 1px #c2c03c solid;
 */
  /* border-radius: 10px; */
  font-size: 1.8rem;
  padding-bottom: 9px;
  border-bottom: 2px #e5001d solid;
  font-weight: 900;
  padding-left: 20px;
  width: 235px;
  color: yellow;
  /* background-color:rgba(236, 224, 49, 0.5); */
}
.logo_1 p {
  padding-top: 9px;
  /*   border: 1px #c2c03c solid;
 */
  /* border-radius: 10px; */
  font-size: 1.8rem;
  padding-bottom: 9px;
  border-bottom: 2px #e5001d solid;
  font-weight: 900;
  padding-left: 20px;
  color: rgb(27, 23, 23);
  width: 235px;
  /* background-color:rgba(236, 224, 49, 0.5); */
}

/* Slick Slider  */

.square {
  text-align: left;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.08);
  /* padding: 0 0.5em 0 0.5em; */
  margin: 0.6em;
}

.square img {
  width: 100%;
}

.square h6 {
  color: #212120;
  display: -webkit-box;
  font-weight: 600;
  line-height: 1.3;
  height: 2.8em;
  margin-left: 1.1em;
  font-size: 1.1em;
  padding-top: 1em;
}

.slick_text {
  padding-top: 1em;
  margin-left: 1.4em;
  color: #657985;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 0.9em;
}
.slick_img img {
  width: 100%;
  height: 180px;
}

.multiple-items .slick-prev,
.multiple-items .slick-next {
  width: 50px;
  height: 50px;
  border: 1px solid #959595;
  border-radius: 5px;
  z-index: 10;
  border-radius: 60px;
  transition: all 0.3s;

  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}
.multiple-items .slick-prev::after,
.multiple-items .slick-next::after {
  content: "";
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2), inset 0 0 0px rgba(0, 0, 0, 0.2);
}

.multiple-items .slick-prev:before {
  font-family: "FontAwesome";
  content: "\f104";
  opacity: 1;
  color: #fff;
}

.multiple-items .slick-next:before {
  font-family: "FontAwesome";
  content: "\f105";
  opacity: 1;
  color: #fff;
}

.multiple-items .slick-prev,
.multiple-items .slick-next {
  background: #c2c03c;
  border: none;
}
/* 
  .multiple-items .slick-prev:hover,
  .multiple-items .slick-next:hover {
    transform: scale(0.5);
  } */

/* End Of Slick Slider */

.about-content h2 {
  color: #000;
}

.about-content h5 {
  color: #000;
  font-weight: 700;
}

.gym img {
  width: 100px;
  height: 100px;
}

.img-out {
  margin-top: 3.5em;
}
.img-out img {
  border-radius: 10px;
  border-bottom: 5px #e5001d solid;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0 15);
}
/* Shopping part */

/* Abomniment */
.text_blog {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.aboniment_border {
  margin-top: 0.8em;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 250px;
  margin-bottom: 10px;
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 5px solid #e5001d;
  background-color: #fff;
  background-image: url("../images/5c1fc80835af3a7501d58d37_wall-clock.svg");
  background-position: -37px 104%;
  background-size: 120px;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.11);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.aboniment_border:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 4px 8px rgba(71, 63, 79, 0.16) 0px 8px
    16px;
}

.aboniment_img2 {
  background-image: url("../images/5c1fc5cc35af3a036ed58b72_body-building.svg");
  background-size: 120px;
}

.aboniment_img3 {
  background-image: url("../images/5c1fccbd4fdbba34cdba2f0f_time-passing.svg");
  background-size: 120px;
}

.aboniment_img4 {
  background-image: url("../images/5c1fcde8753a4095111171e0_appointment20\(1\).png");
  background-size: 120px;
}

.aboniment_img5 {
  background-image: url("../images/5c1fcb271141052a58ff579c_clock.png");
  background-size: 120px;
}

.price {
  position: relative;
  z-index: 1;
  color: #000;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.text_blog_p {
  position: relative;
  z-index: 1;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
}

.shadow {
  position: absolute;
  right: -35px;
  bottom: -60px;
  width: 400px;
  transform: rotate(-18deg);
  height: 150px;
  background-color: hsla(0, 0%, 94%, 0.5);
}

/*============================
SCROLLBAR
=================================*/
/* ::-webkit-scrollbar {
  display: none;
} */

.about_product {
  line-height: 1.4;
  font-weight: 400;
  font-size: 0.9rem;
  color: #212529;
  margin-left: 1.4em;
  margin-top: 0.7em;
  margin-bottom: 1em;
}
/*============================
ENJOY SECTIONS
=================================*/
#images {
  padding-bottom: 100px;
}

/*============================
CHANGES FROM JUMA AREA
=================================*/
.img {
  cursor: pointer;
}
.shop_bg {
  background-color: #f6f8f9;
  color: #fff;
  background-size: cover;
  padding-top: 10em;
  color: #000;
}

.imgShop img {
  width: 100%;
}
.imgShop {
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.05);
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); */
}
.head {
  font-weight: 900;
  line-height: 1.4;
}
.flagShop {
  width: 50px;
  height: 50px;
}
.margin-top {
  margin-top: 13px;
}
.combain {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #657985;
  font-weight: 500;
}
.combain span {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}
strong {
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.8rem;
}
.text {
  margin-top: 3rem;
  line-height: 1.4;
  font-weight: 400;
  font-size: 0.9rem;
}
